*~
*.mdb
.DS_Store
.lein-deps-sum
.lein-repl-history
.nrepl-port
/pom.xml
/pom.xml.asc
/clojush*.jar
classes/
target/
results/
.classpath
.project
.settings/ccw.repl.cmdhistory.prefs
/data/
logs/
lib/
/bin
.lein-failures
doc/
cov/*
out
.idea
clojush.iml
.gorilla-port
/clojush/
.ipynb_checkpoints/
.lein-project-checksum
scratch.clj
.clj-kondo/.cache/v1/clj/bencode.core.transit.json
*.json
.clj-kondo/.cache/v1/lock
